<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
</head>
<body>
<div style="margin: 50px 100px">
    <h1>Product Edition</h1>
    <form th:action="@{/product/update}" th:object="${product}" method="post">
        <table>
            <tr>
                <td>ID</td>
                <td><input type="number" th:field="*{id}" readonly></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="number" th:field="*{price}"></td>
            </tr>
            <tr>
                <td>Quantity</td>
                <td><input type="number" th:field="*{quantity}"></td>
            </tr>
            <tr>
                <td>Brand</td>
                <td><select name="brand" th:field="*{brand}">
                    <option value="">-- Select a brand --</option>
                    <option th:each="brand: ${brands}" th:value="${brand}"  th:text="${brand}"></option>
                </select></td>
            </tr>
            <tr>
                <td>Water Resistance</td>
                <td><input type="checkbox" th:field="*{waterResistance}"></td>
            </tr>
            <tr>
                <td>Detail</td>
                <td><textarea name="" id="" cols="40" rows="10" th:field="*{detail}"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">Update</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>